// Place all the styles related to the Dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.game-list-header {
  background-color: #292b2c;
  margin-bottom: 0;
  padding: 10px;
  border: solid 2px white;
  text-shadow: 4px -2px black;
}

.game-list-group {
  margin-bottom: 1rem;
}

.game-list-item {
  border: solid 2px white;
  border-top: 0;
  h3 {
    text-shadow: 4px -2px black;
  }
}