@media only screen and (max-width: 991px) {
  .gameboard {
    margin-left: auto;
    margin-right: auto;
  }
}

body {
  background: image_url('hero5.jpg') no-repeat center center;
  background-size: cover;
  height: 100vh;
}

.hero {
  background: image_url('hero5.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  box-shadow: 0px 3px 8px #2a2a2a;
}

h1, h2, h3, h4 {
  color: #F4FAF9;
  font-family: 'Pirata One', cursive;
}

a:hover { color: #dcae02; }

.navbar-inverse.bg-inverse {
  font-family: 'Pirata One', cursive;
  box-shadow: 0px 1px 3px #2a2a2a;
  color: #F4FAF9;
  font-size: 20px;
}

.navbar-inverse .navbar-brand {
  color: #F4FAF9;
  font-size: 28px;
}

.bg-inverse {
  background-color: #804609;
}

.list-group-item {
  background-color: transparent;
  border: none;
}

.list-group-item a {
  color: #F4FAF9;
}

.list-group-item a:hover {
  text-decoration: none;
  color: #dcae02;
  border-color: #dcae02;
}

.game-list-container {
  margin-top: 5%;
}

.game-list-header {
  background-color: #292b2c;
  margin-bottom: 0;
  padding: 10px;
  border: solid 2px white;
  text-shadow: 4px -2px black;
}

.game-list-group {
  margin-bottom: 1rem;
}

.game-list-item {
  background: image_url('chest.jpg')no-repeat center center;
  background-size: center;
  background-position: center;
  border: solid 2px white;
  border-top: 0;
  h3 {
    transition: all 0.2s ease-in-out;
    text-shadow: 4px -2px black;
  }
  a { transition: all 0.2s ease-in-out; }
}

.game-list-item:hover {
  h3 { color: #dcae02; }
  a { color: #dcae02; }
}

.stat-list-item {
  background: none;
  background-color: #292b2c;
}

.black-gold-btn {
  font-family: 'Pirata One', cursive;
  background-color: #292b2c;
  border: solid 2px #F4FAF9;
  color: #F4FAF9;

  &:hover {
    border-color: #dcae02;
    cursor: pointer;
  }
}

.right-align-btn {
  margin: 0 0 0 auto;
}

.center-btn {
  margin: 0 auto;
}

.new-game-btn:hover {
  color: #fff;
  text-decoration: none;
}

.dark-content-box {
  background-color: #292b2c;
  border: solid 2px #F4FAF9;
  text-align: center;
  a {
    margin: 0 auto 1rem auto;
  }
  p { 
    color: #F4FAF9;
    margin-top: 1rem;
  }
}

.white {
  background-color: #f7f3da;
  width: 5vw;
  height: 5vw;
}
.white a:hover {
  text-decoration: none;
}

.black {
  background-color: #0902c9;
  width: 5vw;
  height: 5vw;
}

.black a:hover {
  text-decoration: none;
}

.piece {
  height: 100%;
  width: 100%;
}

.piece2 {
  height: 100%;
  width: 100%;
}

hr {
  width: 100%;
  border: 0;
  height: 3px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), black, rgba(0, 0, 0, 0));
}

.surrendered {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(240, 240, 245, 0.5);
}

.game-state-message {
  color: red;
  line-height: 5px;
  margin: 0;
  padding: 0;
}

.captured {
  width: 4vw;
  height: 4vw;
}

.deliver-message {
  position: absolute;
  top: -10px;
  left: 0;
  right: 0;
  margin: 5% auto;
  width: 25%;
  text-align: center;
}

.player-one {
  margin-left: 10px;
  margin-right: 10px;
}

.player-two {
  margin-left: 10px;
  margin-right: 10px;
}

.btn-secondary {
  margin: 5px;
}

.your-turn {
  background-color: green;
}

.not-your-turn {
  background-color: grey;  
}

.flex-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: space-between;

  label {
    color: #dcae02;
  }
}